.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    overflow: hidden;
    max-width: 800px;
}
.container_form{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10rem;
}
.form-section {
    padding: 40px;
    width: 50%;
}
.form-section h2 {
    color: #333;
    margin-bottom: 30px;
}
.form-section input[type="email"],
.form-section input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-section button {
    width: 100%;
    padding: 15px;
    background-color: #008cff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
.form-section button:hover {
    background-color: #008cff;
}
.form-section a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #008cff;
    text-decoration: none;
}
.image-section {
    color: white;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.image-section h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}
.image-section img {
    max-width: 100%;
    height: auto;
}